<div style="text-align:center">
  <img src="https://www.certimeter.it/assets/img/Logo_Certimeter.png" width="300">
  <h1>
    Benvenuto {{codiceUtente}}
  </h1>
  <div>
    <label>Quando sei pronto premi START</label>
    


  </div>

  <div class="cronometro-body">
    
    <div class="buttons">
      <button (click)="start()" type="button" class="btn btn-primary"> START </button>
       -
      <button (click)="check()" type="button" class="btn btn-secondary"> CHECK </button>
      -
      <button (click)="consegna()" type="button" class="btn btn-primary"> CONSEGNA </button>
      
    </div>

    <div class="container-numbers">
      <p style="font-size:500%;"> {{ore}} : {{minuti}} : {{secondi}}</p>

 
    </div>
  </div>
</div>