<div style="text-align:center">
  <img src="https://www.certimeter.it/assets/img/Logo_Certimeter.png" width="300">
  <h1>
    Benvenuto alla Code Challange!
  </h1>
  <div>
    <form [formGroup]="fgInserimentoCodice">
      <div class="form-group">
        <label for="button-control">Inserisci il codice :</label>
        <input type="text" formControlName="codUtente" class="button-control" id="codUtente" maxlength="6"
          placeholder="Inserisci qui...">
      </div>
      <button type="button" class="btn btn-primary" (click)="CronoPage()">Invia</button>

    </form>
  </div>
</div>